services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: technext_db
    restart: always
    profiles:
      - dev
    ports:
      - '${DB_PORT}:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}